@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --bg-color: rgb(21, 21, 21);
    --primary-color: rgb(169, 25, 58);
    --secondary-color: rgb(199, 54, 89);
    --text-color: rgb(238, 238, 238);
}

body {
    background: var(--white);
    overflow: hidden;
}

.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./robot.gif');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


button {
    cursor: pointer;
    outline: none;
    padding: 10px 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    background: rgb(199, 54, 88);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 2px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px rgba(21, 21, 21, 0.6);
}

button:hover {
    filter: brightness(80%);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

/* Tablet or smaller screens */
@media screen and (max-width: 1000px) {
    .container {
        background-position: center center;
        background-size: cover;
    }
    button {
        box-shadow: 5px 5px 30px 15px rgba(21, 21, 21, 0.796);
        margin-top: 5%;
    }
}