@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --bg-color: #151515;
    --primary-color: #a91d3a;
    --secondary-color: #C73659;
    --text-color:#EEEEEE;
}

body {
    background: var(--white);
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzFpdWs3dnJlM2VqdTVvbWhrZzRsN3FvOWw2dGpqb2FnZ2Y3dXRmciZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WwqLMEY4yJ7af3O00K/giphy.webp');
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
    outline: none;
    width: 200px;
    height: 50px;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    background: var(--secondary-color);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 10px var(--bg-color);
}

button:hover {
    filter: brightness(80%);
}

button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}

/* Tablet or smaller screens */
@media screen and (max-width: 1000px) {
    .container {
        background-position: center center;
        background-size: cover;
    }
    button {
        box-shadow: 5px 5px 30px 20px var(--bg-color);
    }
}